<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" class="no-js" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{{ DESCRIPTION }}{% endblock %}">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="copyright" content="{{ AUTHOR }}">
    <meta property="og:site_name" content="{{ SITENAME }}" />


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Merriweather:400,400italic,700|Source+Sans+Pro:400,300,700">
    <link rel="stylesheet" href="https://earthquake.usgs.gov/theme/site/earthquake/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <link rel="stylesheet" href="theme/css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" crossorigin=""/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
    <script>L_PREFER_CANVAS = true; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet-src.js" crossorigin=""></script>
    <script src="https://cdn.rawgit.com/jieter/Leaflet.Sync/0.2.1/L.Map.Sync.js" content-type="application/javascript" charset="utf-8"></script>
    <style>
        input[type="radio"] {
          display: inline-block;
          height: auto;
          opacity: 1;
          width: auto;
          z-index: auto;
        }
        
        input[type="radio"]+label {
          display: inline-block;
        }
        
        input[type="radio"]+label:before {
          display: none;
        }
    </style>
</head>

<body>

    <header role="banner" class="site-header">
        <a class="site-logo" href="/" title="U.S. Geological Survey">
          <img src="https://earthquake.usgs.gov/theme/images/usgs-logo.svg" alt="">
        </a>
    </header>

    <main>
        <small>
            <div class="row">
                <p class="alert warning">
                    {{ FOOTER }}
                </p>
            </div>
        </small>

        <center>
        <div class="row one-of-one">

            {% block content %} {% endblock %}
            <script src="theme/js/mapLS.js"></script>
            <script src="theme/js/mapLQ.js"></script>
            <script src="theme/js/mapsync.js"></script>

        </div>
        </center>

        <small>
            <div class="row">
                <p class="alert warning">
                    {{ FOOTER }}
                </p>
            </div>
        </small>

    </main>

    <footer class="site-commonnav">
      <a href="https://earthquake.usgs.gov">Home</a>
      <a href="/aboutus/">About Us</a>
      <a href="/contactus/">Contacts</a>
      <a href="/legal.php">Legal</a>
    </footer>

</body>

</html>